{% extends "base.html" %}

{% block content %}
    <h1>provider is UP!</h1>
    <div>
        <form action = "http://localhost:5000/provider" method = "post">
            <p>insert a provider id or search for available one automatically.</p>
            <p>Provider id: <input type="number" min="0" step="1" name="id"/></p>
            <p>Provider name: <input type="text" name="name"/></p>
            <p><input type="submit" value="submit" /></p>
            <p>result: {{ msg }}</p>
        </form>
    </div>

{% endblock %}